{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
    <head><link rel = "stylesheet" type = "text/css" href= "{% static 'css/home.css' %}"> </head>
        <div class="jumbotron">
            <div class="container"> 
                <!-- {% load static %}
                <img src="{% static './_items/vulture_image.png' %}" alt="Umass diagram" style="width:555px;height:540px;"> -->
                <h1 class="display-3">UMass Vultures</h1>
                <h2><b>Welcome {{request.user.username}}!</b></h2>
                <p>Welcome to UMass Vultures! Feel free to make a post for your free or reduced food option. Also check out the our feed and map 
                    for eating options. </p>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/Ab-hay/s_sasquatch5" target="_blank" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

        <!-- Example row of columns -->
        <div class="row">
        <div class="col-md-4">
            <h2>Free/Reduced Food</h2>
            <p>Our goal for this site is to give students and faculty at UMass a way to get free or reduced priced food. Oftentimes, 
                much of this food goes to waste so we set out to make it to reduce this waste and give members of the UMass community another way
                to enjoy the food options UMass has to offer! </p>
            <p><a class="btn btn-secondary" href="{% url 'feed' %}" role="button">Make A Post! &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Feed</h2>
            <p>Check here for a running feed of options for food! Explore the numerous options for free and reduced food anywhere on the UMass campus </p>
            <p><a class="btn btn-secondary" href="{% url 'post_create' %}" role="button">View Feed &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Member's View</h2>
            <p>Had success with a specific user in the past? Look through the members list to find your favorite users and your next food spot!</p>
            <p><a class="btn btn-secondary" href="{% url 'members' %}" role="button">View Members &raquo;</a></p>
        </div>
    {% else %}
    <head><link rel = "stylesheet" type = "text/css" href= "{% static 'css/home.css' %}"> </head>
    <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">UMass Vultures</h1>
                <p>Welcome to UMass Vultures! Check out the our feed and map for eating options. If you have an account and want to make a post, please log in. </p>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/Ab-hay/s_sasquatch5" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

         <!-- Example row of columns -->
         <div class="row">
                <div class="col-md-4">
                    <h2>Free/Reduced Food</h2>
                    <p>Our goal for this site is to give students and faculty at UMass a way to get free or reduced priced food. Oftentimes, 
                        much of this food goes to waste so we set out to make it to reduce this waste and give members of the UMass community another way
                        to enjoy the food options UMass has to offer! </p>
                    <p><a class="btn btn-secondary" href="{% url 'feed' %}" role="button">Make A Post! &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Feed</h2>
                    <p>Check here for a running feed of options for food! Explore the numerous options for free and reduced food anywhere on the UMass campus </p>
                    <p><a class="btn btn-secondary" href="{% url 'post_create' %}" role="button">View Feed &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Member's View</h2>
                    <p>Had success with a specific user in the past? Look through the members list to find your favorite users and your next food spot! (Make sure you are logged in first)</p>
                    <p><a class="btn btn-secondary" href="{% url 'members' %}" role="button">View Members &raquo;</a></p>
                </div>
    {% endif %}
{% endblock %}
