body{
    background-color: beige;
}

h1{
    text-align: center;
}

.rcorners {
    border-radius: 25px;
    border-color: #800000;
    padding: 20px;  
    border-style: solid;
    border-width: thick;
    margin: 20px;
  }


.user {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: right;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  
.one {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZmLi6PUpa7RyNGbYizr8M2S1T-IoJoApqdKqIS57Kf6W-3NX8');
  }

.right {
    float: right;
}
.up{
    text-align: right;
}

.center{
    text-align: right;
}

.down{
    text-align: right;
}

ul{
    list-style-type: none;
}