{% extends 'base.html' %}
{% load static %}

{% block content %}
<head><link rel = "stylesheet" type = "text/css" href= "{% static 'css/feed.css' %}"> </head>
<h1>Post List</h1>
{% if object_list %}
<ul>
  {% for FoodPost in object_list %}
  <li class = "list">
    <a href="{{ FoodPost.get_absolute_url }}">{{ FoodPost.foodType }}                     ({{ FoodPost.postScore }})</a>
    <p style = "padding-right: 5px; padding-left: 5px;">{{ FoodPost.postInfo }} </p>
    <button class = "up">Upvote</button>
    <button class = "down">Downvote</button>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>There are no posts.</p>
{% endif %}       
{% endblock %}